[submodule "mbtexcel"]
	path = mbtexcel
	url = https://github.com/moonbitlang/mbtexcel.git
[submodule "rabbita"]
	path = rabbita
	url = https://github.com/moonbit-community/rabbita.git
[submodule "lib/mocket"]
	path = lib/mocket
	url = https://github.com/bobzhang/mocket.git
