[submodule "mbtexcel"]
	path = mbtexcel
	url = git@github.com:moonbitlang/mbtexcel.git
[submodule "rabbita"]
	path = rabbita
	url = git@github.com:moonbit-community/rabbita.git
[submodule "lib/mocket"]
	path = lib/mocket
	url = git@github.com:oboard/mocket.git
